<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>
    <iron-ajax id="obtenerProductos"
                url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
                handle-as="json"
                on-response="mostrarProductos">

    </iron-ajax>
    <iron-ajax id="lanzarLogin"
                url="http://localhost:3000/v1/usuarios"
                method="POST"
                body='{"correo":"gnichols2@geocities.com","password":"mbZr2O"}'
                contentType="application/json"
                handle-as="text"
                on-response="respuestaLogin">
    </iron-ajax>
    <!--
    <div class = "row">
      <button class ="col-sm-4 col-6">Botón 1</button>
      <button class ="col-sm-4 col-6">Botón 2</button>
      <button class ="col-sm-4 col-6">Botón 3</button>
    </div>
-->
    <div>
      <label for="">[[etuser]]</label>
      <input required "required" type="text" name="" value="{{valuser::input}}" placeholder="usuario@example.com">
    </div>
    <div>
      <label for="">[[etpassword]]</label>
    <!--  <input type="text" name="" value="">-->
    <input required= "required" type="password" name="" value="">
    </div>
    <div>
      <button class="btn btn-info" on-click="hacerLogin" type="button" value="login">[[etlogin]]</button>
        <button class="btn btn-danger" on-click="invocarPeticion">Invocar</button>
    </div>
    <h2>Hello [[prop1]]!</h2>
    <table class="table table-striped" hidden$= "{{noTengoProductos}}">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{productos}}">
          <tr>
            <td>{{item.ProductID}}</td>
            <td>{{item.ProductName}}</td>
            <td>{{item.UnitPrice}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type: String
          },
          productos: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value : true
          }
        };
      }
      hacerLogin()
      {
        //this. es para buscar en la funcion en la que estamos
        //console.log("Login correcto de"+this.valuser);
        this.$.lanzarLogin.generateRequest();
      }
      respuestaLogin(data)
      {
        console.log(data);
      }
      invocarPeticion()
      {
        //dolar es para buscar en shadow dom
        this.$.obtenerProductos.generateRequest();
      }
      //indicar que a mostrarProductos le pasamos los datos que regresa iron ajax
      mostrarProductos(data)
      {
        console.log(data.detail.response.value);
        this.productos=data.detail.response.value;
        this.noTengoProductos = false;
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
