<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="movimientosmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

    <iron-ajax id="Consultarmovimientos"
                url="http://localhost:3000/v2/movimientos"
                method="GET"
                handle-as="json"
                on-response="mostrarMovimientos">
    </iron-ajax>
    <div>
      <button class="btn btn-info" on-click="invocarPeticion" type="button">[[etmovimientos]]</button>
    </div>
  <!--  <table class="table table-striped" hidden$= "{{noTengoMovimientos}}">
      <thead>
        <th>ID</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ciudad</th>
      </thead>
      <tbody>
    <!--    <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.latitud}}</td>
            <td>{{item.longitud}}</td>
            <td>{{item.ciudad}}</td>
          </tr>
        </template>-->
  <div class="row col-lg-12 col-sm-12">
    <div class="card-deck">
      <template is="dom-repeat" items="{{movimientos}}">
         <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{item.id}}</h5>
              <p class="card-text">{{item.fecha}}</p>
              <p class="card-text">{{item.importe}}</p>
              <p class="card-text">{{item.latitud}}</p>
              <p class="card-text">{{item.longitud}}</p>
              <p class="card-text">{{item.ciudad}}</p>
            </div>
          </div>
          </div>
        </template>
    </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class movimientosmx extends Polymer.Element {
      static get is() { return 'movimientosmx-app'; }
      static get properties() {
        return {
          etmovimientos: {
            type: String
          },

          movimientos:{
              type: Array
          },

          noTengoMovimientos: {
            type: Boolean,
            value : true
          }
        };
      }

      invocarPeticion()
      {
        //dolar es para buscar en shadow dom
        this.$.Consultarmovimientos.generateRequest();
      }
      //indicar que a mostrarProductos le pasamos los datos que regresa iron ajax
      mostrarMovimientos(data)
      {
        console.log(data.detail.response);
        this.movimientos=data.detail.response;
        this.noTengoMovimientos = false;

      }
    }
    window.customElements.define(movimientosmx.is, movimientosmx);
  </script>
</dom-module>
